@-moz-document url-prefix("https://labs.staratlas.com/") {
    /* ==SAGE Labs==
    @name         labs.staratlas.com tweaks
    @namespace    labs.staratlas.com
    @description  Map tweaks for labs.staratlas.com
    @author       kro.sol <kro.sol@gentlemansclub.de> (https://github.com/kro-sol)
    @homepageURL  https://github.com/kro-sol/Tree
    @supportURL   https://github.com/kro-sol/Tree/issues
    @updateURL    https://github.com/kro-sol/Tree/main/tweaks.user.styl
    @preprocessor stylus
    @version      0.1
    @license      MIT
    
    @var checkbox colors  'Force dark mode' 0
    @var checkbox oldDark 'Old dark mode colors' 0
    @var checkbox navbar  'Enable sticky navbar' 1
    @var checkbox blurry  'Enable blurry navbar style' 0
    @var checkbox stylus  'Enable "Get Stylus" button' 1
    @var checkbox newBars 'Enable new styles for nav/footer bars' 0
    @var checkbox version 'Show userstyle version in the footer' 1
    @var checkbox monitor 'Enable tweaks for Monitor page' 1
    ==/SAGE Labs== */
    
    
    /* adjust world map */
    img[alt="galaxy map"] {
        height: 0 !important;
        width: 0 !important;
    
        padding-left: 770px !important;
        padding-top: 770px !important;
        background: url(https://raw.githubusercontent.com/kro-sol/Tree/main/img/world-map.png) no-repeat !important;
    }
}
